/.BusinessDslProposalProvider.java._trace
/.BusinessDslProposalProvider.xtendbin
/.DtoDslProposalProvider.java._trace
/.DtoDslProposalProvider.xtendbin
/.ModelDslProposalProvider.java._trace
/.ModelDslProposalProvider.xtendbin
/.PersistenceDslProposalProvider.java._trace
/.PersistenceDslProposalProvider.xtendbin
/.PresentationDslProposalProvider.java._trace
/.PresentationDslProposalProvider.xtendbin
/BusinessDslProposalProvider.java
/DtoDslProposalProvider.java
/ModelDslProposalProvider.java
/PersistenceDslProposalProvider.java
/PresentationDslProposalProvider.java
